extends ./layout

block content
    div.thumb_box
        h2 
            a(href="#") KODI(XBMC) 다음 무비, TV쇼 애드온 스크래퍼 오류 문제 해결
        ul.list-inline
            li
                span.glyphicon.glyphicon-user
                a(href="#")  moonspam 
            li
                span.glyphicon.glyphicon-calendar
                time(datetime="2016-10-10" pubdate)  2016년 10월 10일
            li
                span.glyphicon.glyphicon-list
                a(href="#")  공유하기 
        p 다음무비(http://movie.daum.net/) 사이트 개편으로 다음 스크래퍼가 정상적으로 작동하지 않는 문제가 발생하였습니다. 이 부분을 뽐뿌 원츄-_-b님께서 해결한 링크 공유합니다. kodi 다음 스크래퍼(7) TV 애드온 수정되었습니다. DAUM영화에서 1박2일 에피소드 정보 가져오지 못하는 버그 수정 (0.2.1 버전) 혹시 몰라서...
    hr
    div.thumb_box
        h2 
            a(href="#") KODI(XBMC) 다음 무비, TV쇼 애드온 스크래퍼 오류 문제 해결
        ul.list-inline
            li
                span.glyphicon.glyphicon-user
                a(href="#")  moonspam 
            li
                span.glyphicon.glyphicon-calendar
                time(datetime="2016-10-10" pubdate)  2016년 10월 10일
            li
                span.glyphicon.glyphicon-list
                a(href="#")  공유하기 
        p 다음무비(http://movie.daum.net/) 사이트 개편으로 다음 스크래퍼가 정상적으로 작동하지 않는 문제가 발생하였습니다. 이 부분을 뽐뿌 원츄-_-b님께서 해결한 링크 공유합니다. kodi 다음 스크래퍼(7) TV 애드온 수정되었습니다. DAUM영화에서 1박2일 에피소드 정보 가져오지 못하는 버그 수정 (0.2.1 버전) 혹시 몰라서...
    hr
    div.thumb_box
        h2 
            a(href="#") KODI(XBMC) 다음 무비, TV쇼 애드온 스크래퍼 오류 문제 해결
        ul.list-inline
            li
                span.glyphicon.glyphicon-user
                a(href="#")  moonspam 
            li
                span.glyphicon.glyphicon-calendar
                time(datetime="2016-10-10" pubdate)  2016년 10월 10일
            li
                span.glyphicon.glyphicon-list
                a(href="#")  공유하기 
        p 다음무비(http://movie.daum.net/) 사이트 개편으로 다음 스크래퍼가 정상적으로 작동하지 않는 문제가 발생하였습니다. 이 부분을 뽐뿌 원츄-_-b님께서 해결한 링크 공유합니다. kodi 다음 스크래퍼(7) TV 애드온 수정되었습니다. DAUM영화에서 1박2일 에피소드 정보 가져오지 못하는 버그 수정 (0.2.1 버전) 혹시 몰라서...
    hr
    div.thumb_box
        h2 
            a(href="#") KODI(XBMC) 다음 무비, TV쇼 애드온 스크래퍼 오류 문제 해결
        ul.list-inline
            li
                span.glyphicon.glyphicon-user
                a(href="#")  moonspam 
            li
                span.glyphicon.glyphicon-calendar
                time(datetime="2016-10-10" pubdate)  2016년 10월 10일
            li
                span.glyphicon.glyphicon-list
                a(href="#")  공유하기 
        p 다음무비(http://movie.daum.net/) 사이트 개편으로 다음 스크래퍼가 정상적으로 작동하지 않는 문제가 발생하였습니다. 이 부분을 뽐뿌 원츄-_-b님께서 해결한 링크 공유합니다. kodi 다음 스크래퍼(7) TV 애드온 수정되었습니다. DAUM영화에서 1박2일 에피소드 정보 가져오지 못하는 버그 수정 (0.2.1 버전) 혹시 몰라서...
    hr
    div.thumb_box
        h2 
            a(href="#") KODI(XBMC) 다음 무비, TV쇼 애드온 스크래퍼 오류 문제 해결
        ul.list-inline
            li
                span.glyphicon.glyphicon-user
                a(href="#")  moonspam 
            li
                span.glyphicon.glyphicon-calendar
                time(datetime="2016-10-10" pubdate)  2016년 10월 10일
            li
                span.glyphicon.glyphicon-list
                a(href="#")  공유하기 
        p 다음무비(http://movie.daum.net/) 사이트 개편으로 다음 스크래퍼가 정상적으로 작동하지 않는 문제가 발생하였습니다. 이 부분을 뽐뿌 원츄-_-b님께서 해결한 링크 공유합니다. kodi 다음 스크래퍼(7) TV 애드온 수정되었습니다. DAUM영화에서 1박2일 에피소드 정보 가져오지 못하는 버그 수정 (0.2.1 버전) 혹시 몰라서...
    hr
    nav(aria-label="Page navigation")
        ul.pagination
            li
                a(href="#" aria-label="Previous")
                    span(aria-hidden="true") &laquo;
            li.active
                a(href="#") 1
            li
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#") 4
            li
                a(href="#") 5
            li
                a(href="#" aria-label="Next")
                    span(aria-hidden="true") &raquo;
